<section class="footer">
  <div class="sec2">
    <div class="row">
      <div class="col-lg-3 abn">
        <ul>
          <li>
            <h2>Abn Solutions</h2>
          </li>
          <li>
            <p>We Provide best It <br> Solutions</p>
          </li>
          <li><i class="fa-brands fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;<i
              class="fa-brands fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-twitter"></i></li>
        </ul>
      </div>
      <div class="col-lg-3 abn1">
        <ul>
          <li>
            <h4>Quick links</h4>
          </li>
          <li><a href="#home">Home</a></li>
          <li><a href="#how">How we work</a></li>
          <li><a href="#services">Services</a></li>
          <li><a [routerLink]="'contact'">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3 abn2">
        <ul>
          <li>
            <h4>Contact</h4>
          </li>
          <li>Help/FAQ</li>
          <li>Contact No: <br> 7046102173 <br> 8460805960</li>
        </ul>
      </div>
      <div class="col-lg-3 abn3">
        <ul>
          <li>
            <h4>More</h4>
          </li>
          <li>
            <p>Press Centre</p>
          </li>
          <li>
            <p>Our Blog</p>
          </li>
          <li>
            <p>Low fare tips</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="sec">
      <div class="row">
        <div class="col-lg-6">
          <p class="text-muted copy">Copyright, ABN SOLUTIONS 2022. All rights reserved.</p>
        </div>
        <div class="col-lg-6">
          <p class="text-muted term">Terms & Conditions</p>
        </div>
      </div>
    </div>
  </div>
</section>
