/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("../src/assets/images/Group 296.png");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 911px;
  font-family: 'DM Sans';
  font-style: normal;
}

@media screen and (max-width:768px)
{
  body{
    overflow-x: hidden;
    height: 800px;
  }

}


@media screen and (max-width:480px)
{
  body{
    overflow-x: hidden;
    height: 700px;
  }

}
