<section class="main">
<section class="sect20">
  <div class="hero">
    <div class="row">
      <div class="col-lg-6 he1">
        <h2 class="he2">Delivering <span style="color: #F48574;"> IT Services</span> <br>
          For Your Bussiness</h2>
          <br>
        <p class="he3">ABN is a professional  IT firm that provides IT services mainly responsive website design & development, custom software solutions, and mobile applications.
          we're a crew of creatives, designers & developers who
           work together to create beautiful, engaging digital
           experiences. Our Crew is specially composed to create
           successfully, custom, innovative digital products from
          the initial concept through full product launch.</p>
        <button class="btn btn-light he4">Read More</button>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/Group 297.png" alt="" class="img2">
      </div>
    </div>
  </div>
</section>

<section class="sect30">
  <div class="hero">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/images/Group 297.png" alt="" class="img3">
      </div>
      <div class="col-lg-6 he1">
        <h2 class="he2">Delivering <span style="color: #F48574;"> IT Services</span> <br>
          For Your Bussiness</h2>
          <br><br>
        <p class="he3">ABN is a professional  IT firm that provides IT services mainly responsive website design & development, custom software solutions, and mobile applications.
          we're a crew of creatives, designers & developers who
           work together to create beautiful, engaging digital
           experiences. Our Crew is specially composed to create
           successfully, custom, innovative digital products from
          the initial concept through full product launch.</p>
        <button class="btn btn-light he4">Read More</button>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="real">
    <h3>Turn Your <span style="color: #F48574;"> Amazing <br>
      Ideas</span> Into Reality</h3>
  </div>
  <br><br>
  <div class="row">
    <div class="col-lg-4">
      <div class="card real1">
        <div class="card-body">
          <img src="assets/images/web-design 1.png" alt="" class="web"> <br>
          <h5 class="card-subtitle mb-2 text-center">Design & <br> Creativity
          </h5> <br>
          <p class="card-text text-center">Creativity play a big role in how a solution to a problem is outlined, and how to identify new ways of looking at the problem</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card real2">
        <div class="card-body">
          <img src="assets/images/web-design 1 (1).png" alt="" class="web"> <br>
          <h5 class="card-subtitle mb-2 text-center">Web <br>
            Development</h5> <br>
          <p class="card-text text-center">We create, deploy, and support websites and web-based applications of any scale and complexity.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card real3">
        <div class="card-body">
          <img src="assets/images/web-design 1 (2).png" alt="" class="web"> <br>
          <h5 class="card-subtitle mb-2 text-center">Mobile App <br>
            Development
           </h5> <br>
          <p class="card-text text-center">Our talent pool of mobile application developers includes highly-skilled analysts, UX experts and certified software engineers </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sect">
  <div>
    <div class="row sect1">
      <div class="col-lg-6">
        <img src="assets/images/Group 298.png" alt="" class="grp">
      </div>
      <div class="col-lg-6 sect2">
        <h3>Why Choose Us</h3> <br><br>
        <p>We place our clients’ needs first, the technology <br> is simply a means to an end that supports growth <br> and success. Find out how we are different and <br> why we should be your IT provider of choice.
         <br> We will achieve success by adopting transparent <br> and honest business practices thereby generating <br> immense goodwill with clients, employees, our <br> vendors and society we operate in.</p>
        <button class="btn btn-light sect3">Read More</button>
      </div>
    </div>
  </div>
</div>
</section>

<section id="how">
  <div class="sec2">
  <div class="sec21">
    <div class="work">
      <h2>Our Working <span>Process</span> How</h2>
      <h2>We work for our <span>customer</span></h2>
    </div>
    <div>
      <div class="row sec22">
        <div class="col-lg-3">
          <div class="card c1">
            <div class="card-body">
              <img src="assets/images/market-research (1).png" alt="" class="warning"><br><br>
              <h4 class="card-subtitle mb-2 text-muted">Define</h4>

              <p class="card-text">In this stage you accumulate the information gathered during the Empathize stage and analyse them to define the core problems.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <img src="assets/images/arrow-right 1.png" alt="" class="sec24">
          <img src="assets/images/arrow-right 2.png" alt="" class="sec23">
          <div class="card c2">
            <div class="card-body">
              <img src="assets/images/market-research (2).png" alt=""><br><br>
              <h4 class="card-subtitle mb-2 text-muted">Ideate</h4>
              <p class="card-text">Now, you need to think outside the box and look for alternatives solutions to the problem statements created.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card c3">
            <div class="card-body">
              <img src="assets/images/market-research.png" alt=""><br><br>
              <h4 class="card-subtitle mb-2 text-muted">Prototype</h4>
              <p class="card-text">This is an experimental phase where you try the best feasible solution for each problem found</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <img src="assets/images/arrow-right 1.png" alt="" class="sec11">
          <div class="card c4">
            <div class="card-body">
              <img src="assets/images/market-research (3).png" alt=""><br>
              <h4 class="card-subtitle mb-2 text-muted">Test</h4>
              <p class="card-text">The prototypes are tested rigorously in this final phase. The results can also be used to redefine any further problems encountered.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section><br><br>

<section>
  <div class="sec3">
    <div class="row">
      <div class="col-lg-5">
        <h3 class="sec31">Our Mission</h3><br><br>
        <p class="sec31">Abn Solutions is a premium IT service provider located in Gujarat. Our Company is offering high quality products/services in Web Development, Web Hosting , Software Development & IT Training sectors.
          Our products are more efficient, reliable and high performance. With same sincerity and vision to create better and more skilled workforce in the industry, we are offering our specially designed training courses which are result oriented and targeted towards specialization in development.
        </p><br><br>
        <button class="btn btn-light sec32">Read More</button>
      </div>
      <div class="col-lg-7">
        <img src="assets/images/Group 299.png" alt="" class="img4">
      </div>
    </div>
  </div>
</section>

<section>
  <div>
    <img src="assets/images/Frame 221.png" alt="" class="img1">
  </div>
</section><br>

<section>
  <div class="sec8">
  <div class="sec7">
    <div>
      <h2 class="sec81">Our Team Member</h2>
    </div><br>
    <div class="row">
      <div class="col-lg-4">
        <div class="card c11">
          <img class="card-img-top" src="assets/images/team/adi.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-subtitle">Aditya Patel</h4>
            <p class="card-text">UI/UX Designer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card c12">
          <img class="card-img-top" src="assets/images/team/nisarg.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-subtitle">Nisarg Patel</h4>
            <p class="card-text">Web Developer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card c13">
          <img class="card-img-top" src="assets/images/team/abhi.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-subtitle">Abhijit Rath</h4>
            <p class="card-text">Android Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section><br><br>

<section>
  <div class="sec12">
    <div class="sec14">
      <h2>Our Portfolio</h2>
      <p>Your portfolio can be a space for you to express yourself, amaze any future employers, and get your work noticed.</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card c43 ">
          <img class="card-img" src="assets/images/Frame 27.png" alt="Card image cap"><br>
          <img class="card-img" src="assets/images/Frame 30.png" alt="Card image cap">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card c44">
          <img class="card-img" src="assets/images/Frame 28.png" alt="Card image cap"><br>
          <img class="card-img" src="assets/images/Frame 31.png" alt="Card image cap">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card c45">
          <img class="card-img" src="assets/images/Frame 29.png" alt="Card image cap"><br>
          <img class="card-img" src="assets/images/Frame 32.png" alt="Card image cap">
        </div>
      </div>
    </div>
  </div> <br><br>
</section>

<section>
  <div class="sec13">
    <h1 class="sec15">Contact Us</h1>
    <form>
      <span><i class="fa-solid fa-envelope ic"></i><input type="text" class="form-control in"  placeholder="      Enter your Mail"><button class="btn btn-light b1" style="background-color: #F48574;">Submit</button></span>


    </form>
  </div><br>
</section>
</section>
